{% extends "blog/../baseHtml.html" %}
{% block sitetitle %} {{blog.title}} {% endblock %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}<h3>分类：<a href="{% url 'blogs_with_the_same_type' blog.blog_type.pk %}"> {{ blog.blog_type }}</a></h3>
<hr><p>{{ blog.content }}</p><hr>
<table>
    <tr><td>作者</td><td>{{ blog.author }}</td></tr>
    <tr><td>上次修改时间</td><td>{{ blog.last_updated_time }}</td></tr>
    <tr><td>创建时间</td><td>{{ blog.creat_time|date:"Y-m-d H:i:s" }}</td></tr>
{#    在这里可以用过滤器规范时间#}
</table>
{% endblock %}